@charset "utf-8";


:root{

    --cor0:#DBDB16;
    --cor1:#1689DB;
    --cor2:#07568F;
    --cor3:#DC0501;
    --cor4:#8F100E;
    --cor5:#F20C72;

    --font-family: Arial, Verdana; Helvetica, sans-serif;
}

*{ 
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    font-family: var(--font-family);

}

header{ 
    margin:auto;
    background-color: black;
    padding: 10px;
    
    
}

header img{
    height: 110px;
    width: 110px;
    margin: 20px 20px 0px 0;
}

div img{
    max-width: 32px;
    max-height: 32px;
    margin: auto;
}

div img.instagram{
    margin: 15px 0 0 1265px;
}

nav{
    background-color: black;
    text-align: right;
    margin-right: 80px;
    padding: 10px;
    
    
    
    
    
}

nav a{    
    color:white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    margin: auto;
    width: 100%;
    
    
   
}

nav a:hover{
    text-decoration: solid;
    color: var(--cor4);
    border-radius: 6px;
    transition-duration: 0.5s;
    
    
}

main{
    min-width: 250px;
    max-width: 1200px;
    margin:auto;   
 
}

main img.boasvindas{
    width: 100%;
}

aside h2{
    color: white;
    margin-top: 30px;
}

div.agenda{
    display: inline-block;
    border: 2px solid var(--cor4);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;
    padding: 30px;
}

div#sexta h3{
    text-align: center;
    color: white;
    padding: 10px;
}

div#sexta h3:hover{
    color: var(--cor3);
}

div#domingo h3{
    text-align: center;
    color: white;
    padding: 10px;
}

div#domingo h3:hover{
    color: var(--cor3);
}

div#aniversário h3{
    text-align: center;
    color: white;
    padding: 10px;
}

div#aniversário h3:hover{
    color: var(--cor3);
}

div.pastor{
    position: relative;
    display: inline-block;
    border: 2px solid var(--cor4);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;
    padding: 30px;
}

div#david h3{
    
    text-align: center;
    color: white;
    padding: 10px;
}

div#david p{
    position: absolute;
    left: 20px;
    top: 150px;
    color: white;
    
}

div#david h3:hover{
    color: var(--cor3);
}

div#david img{
    
    position: absolute;
    left: 46%;
    top: 100px;
    
        
}

div#cleiton h3{
    text-align: center;
    color: white;
    padding: 10px;
}

div#cleiton h3:hover{
    color: var(--cor3);
}

div#cleiton p{
    position: absolute;
    left: 20px;
    top: 150px;
    color: white;
    
}

div#cleiton img{
    position: absolute;
    left: 50%;
    top: 100px
    
        
}

div#edgar h3{
    text-align: center;
    color: white;
    padding: 10px;
}

div#edgar h3:hover{
    color: var(--cor3);
}

div#edgar p{
    position: absolute;
    left: 20px;
    top: 150px;
    color: white;
    text-align: left;
    
}

div#edgar img{
    position: absolute;
    left: 50%;
    top: 100px
    
        
}

div.biblia{
    padding: 30px;
    background-color: var(--cor6);
    border-radius: 10px;
    position: relative;
    padding-bottom: 59%;
}
div.biblia > iframe{
    border-radius: 10px;    
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    
    min-width: 250px;
    max-width: 1000px;
    max-height: 30px;
    min-height: 10px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

footer p{
    color: white;
    padding: 12px;
    margin: auto;
}

